{
  "source":{
    "host":"localhost",
    "user":"root",
    "password":"EXAMPLE123",
    "database":"db_main"
  },
  "target":{
    "host":"localhost",
    "user":"root",
    "password":"EXAMPLE123",
    "database":"db_target_"
  },
  "options":{
    "skip":[
      "tbl_logs_1",
      "tbl_logs_2",
      "tbl_logs_3",
      "tbl_logs_4",
      "tbl_logs_5",
      "tbl_logs_6",
      "tbl_logs_7",
      "tbl_logs_8",
      "tbl_logs_9",
      "tbl_logs_10",
      "tbl_logs_11",
      "tbl_logs_12",
      "tbl_logs_13",
      "tbl_logs_14",
      "tbl_logs_15",
      "tbl_logs_16",
      "tbl_logs_17",
      "tbl_logs_18",
      "tbl_logs_19",
      "tbl_logs_20",
      "tbl_logs_21",
      "tbl_logs_22"
    ],
    "where":{
      "tbl_access_logs":"id > (select max(id)-100000 from tbl_access_logs)",
      "tbl_debug_logs":"id > (select max(id)-100000 from tbl_debug_logs)"
    }
  }
}